<!--
*@copyright   : OZVID Technologies Pvt. Ltd < https://ozvid.com >  
*@author      : Shiv Charan Panjeta < shiv@ozvid.com >  
-->


{% extends "base.html" %}

{% block title %}About &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="active">About</li>
{% endblock %}

{% block content-wrapper %}
  <div class="flatpages">
    
    <h1>About</h1><br>

   <div class="content">
      <p style="text-align:justify;">We are an expert in Python, Django and Web Framework Development. With a team of 120+ employees, our expertise and commitment to deliver&nbsp;complex strategic IT projects make us a trusted service provider to 1800+ customers across the globe.</p>

<p style="text-align:justify;">It is a matter of great pride to us that many of these relationships have continued with us since the beginning. We work with high cooperative efforts, diligent work, and commitment by supporting each other that enables us to make new attempts resulting significant outcomes.</p>

<p style="text-align:justify;">Each one of us together understands the prerequisites of business, clients and target audience by&nbsp;utilizing a considerable number of benefits accessible to fulfill the need of learning, background, and development of all. Our organization is not only about technology, it is about our people and their professional growth.</p>

<p style="text-align:justify;">We hire eager, educated and determined innovators that are fully dedicated in developing&nbsp;our client’s success. We favor skills over experience and provide extensive training to all the employees and contribute&nbsp;to their growth. With our fast-paced and challenging work environment, we focus on customer satisfaction.</p>
        </div>
  
  </div>
{% endblock %}
