<!--
*@copyright   : OZVID Technologies Pvt. Ltd < https://ozvid.com >  
*@author      : Shiv Charan Panjeta < shiv@ozvid.com >  
-->

<footer class="footer-design w3-red">

  <ul class="list-inline">
    <li class="pull-right">
	<i class="fa fa-facebook-official w3-hover-opacity"></i>
	<i class="fa fa-instagram w3-hover-opacity"></i>
	<i class="fa fa-snapchat w3-hover-opacity"></i>
    	<i class="fa fa-pinterest-p w3-hover-opacity"></i>
    	<i class="fa fa-twitter w3-hover-opacity"></i>
    	<i class="fa fa-linkedin w3-hover-opacity"></i>&nbsp;&nbsp;&nbsp;&copy; Ozvid.com, {% now "Y" %}</li>

    <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
  </ul>

</footer>
