<!--
*@copyright   : OZVID Technologies Pvt. Ltd < https://ozvid.com >  
*@author      : Shiv Charan Panjeta < shiv@ozvid.com >  
-->

{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
  <li class="active">{{ post.title }}</li>
{% endblock %}

{% block content %}
  <div class="post">
    <h1>{{ post.title }}</h1>

    <div class="date">
      <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;

      {{ post.published_date|date:"F j, Y" }}
    </div>

    <p>{{ post.body|safe }}</p>
<p>{{ post.snippet|safe }}</p>

    {% if post.tags.all %}
      <div class="tags">
        {% for tag in post.tags.all %}
          <a href="{% url 'blog:post-list-by-tag' tag.slug %}" class="btn btn-info btn-xs">{{ tag.name }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
